{% extends 'base.html.twig' %}

{% block title %}OMDB API by CESI{% endblock %}

{% block body %}
    <div class="container-fluid">
        <!-- Affichage formulaire de recherche -->
        {% include 'omdb/formulaire.html.twig' %}

        <!-- Affichage d'une liste de films -->
            <div class="row">
                <h1>Critère recherché: {{query}}</h1>
            </div>
            <div class="row">
                Rien trouvé!    
            </div>
    </div>

{% endblock %}
